<div class="container">
  <div class="row vh-100">
    <div class="col-md-6 m-auto mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @restaurant.name %> - <%= @restaurant.category %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.address %></h6>
          <p class="card-text"><%= @restaurant.phone_number %></p>
          <p class="card-text"><%= @review %></p>
          <%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
